src/main/resources/wadl/BpmnVerificationDefinition.wadl

<?xml version="1.0"?>
<application
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://wadl.dev.java.net/2009/02">

    <grammars>
        <include href="schemas/BPMN20.xsd"/>
        <include href="schemas/VerificationMessages.xsd"/>
    </grammars>

    <resources>
        <resource path="/service" id="br.edu.ufrgs.inf.bpm.service.IBpmnVerificationService">
            <resource path="/generateBpmnVerification">
                <method name="POST" id="generateBpmnVerification">
                    <request>
                        <representation mediaType="application/x-www-form-urlencoded">
                            <param name="bpmnString" style="query" type="xsd:string"/>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>

</application>